// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


.square-img{
    height: 240px;
    width: 240px;
    object-fit: cover;
}

.logo {
    font-family: 'Russo One';
}

.rounded {
    border-radius: 0.25rem !important;
}